.env
# Not needed.
node_modules/
# make sure that any compiled code doesn't get commited
dist/
# everything.
package-lock.json
# making sure that it actually gets ignored.
/dist/

# programs etc
/.vscode/
/.idea/